NEXT_PUBLIC_SITE_URL=http://localhost:3000
WP_API_URL=https://cmcbelleza.shop/wp-json
WC_CONSUMER_KEY=your_consumer_key_here
WC_CONSUMER_SECRET=your_consumer_secret_here
FEATURED_API_KEY=tu_api_key_secreta_aqui
